.bg-dark { 
    background: transparent !important;
    transition: 0.3s ease;
}

.bg-dark.scrolled {
    background: #343a40 !important;
}

.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('../assets/masthead.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}